* {
    padding: 0;
    margin: 0;
}
.linkage-container {
    overflow-x: auto;
    min-width: 600px;
}
.linkage-ul {
    list-style: none;
    font-size: 14px;
}
.linkage-header p {
    font-weight: bold;
    display: table-cell;
    border-bottom: 1px solid #DDD;
}
.linkage-summary {
    text-align: right;
}
.linkage-ul > li > div p {
    display: table-cell;
    border-bottom: 1px solid #DDD;
    line-height: 30px;
}
.linkage-ul > li > div p:first-child > .linkage-fork:before {
    content: url(../images/linkage_join.gif);
}
.linkage-ul > li:last-child > div p:first-child > .linkage-fork:before {
    content: url(../images/linkage_end.gif);
}
.linkage-header p, .linkage-row p:not(:first-child), .linkage-add-bar {
    text-align: center;
}
.linkage-minus:before {
    content: url(../images/linkage_minus.gif);
}
.linkage-plus:before {
    content: url(../images/linkage_plus.gif);
}
.linkage-arrow:before {
    content: url(../images/linkage_arrow.gif);
}
.linkage-plus, .linkage-minus {
    cursor: default;
}
.linkage-fork {
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-right: 3px;
    float: left;
    position: relative;
}
.linkage-plus, .linkage-minus, .linkage-arrow {
    display: inline-block;
    width: 9px;
    height: 9px;
    float: left;
    margin-top: -2px;
    margin-right: 3px;
    cursor: pointer;
}
.addItemLink, .cancelItemLink {
    cursor: pointer;
}
.linkage-drag-handle {
    color: #3BF;
    cursor: move;
    cursor: -webkit-grabbing;
}
.linkage-yes {
    background: url(../images/yes.gif);
    width: 14px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
}
.linkage-no {
    background: url(../images/no.gif);
    width: 14px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
}
.linkage-action-tip {
    color: #5C7;
    position: fixed;
    top: -40px;
    opacity: 0;
    left: 50%;
    width: 130px;
    margin-left: -65px;
    background-color: #CFD;
    display: inline-block;
    z-index: 1000;
    text-align: center;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.linkage-action-tip.show {
    top: 0px;
    opacity: 1;
}
.addItemLink {
    color: #1C1;
}
.linkage-add-link {
    color: #38E;
}
.linkage-delete-link, .cancelItemLink {
    color: #E35;
}
.linkage-add-link.linkage-selected {
    color: #92F;
}
.addItemLink:hover, .cancelItemLink:hover, .linkage-add-link:hover, .linkage-delete-link:hover {
    color: #D3D;
}
.linkage-row p {
    border-right: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
}
.linkage-drag-handle {
    border-left: 1px solid rgb(221, 221, 221);
    padding-left: 5px;
}
.linkage-header {
    border: 1px solid rgb(221, 221, 221);
    border-bottom: none;
}
.linkage-ul {
    display: block;
}
.linkage-header p {
    border-left: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
}
.linkage-header p:first-child {
    padding-left: 5px;
    border-left: none;
}
/*可编辑输入框定制样式*/
.linkage-ul li p {
    position: relative;
}
.linkage-ul li p input[type=text], .linkage-ul li p select {
    display: block;
    position: absolute;
    font-size: 14px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 1px solid #5fb878;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0px 8px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .15);
    outline: 0;
    text-align-last: center;
}