html, body {
    width: 100%;
    height: 100%;
    background: #fff;
}
.error-box {
    width: 1000px;
    height: 566px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    margin-top: -283px;
    background: url(/themes/basic/images/pc-error.png) center center;
    background-size: 100% 100%;
}
.error-box .error-text {
    position: absolute;
    top: 16%;
    left: 530px;
    font-size: 25px;
    color: #676767;
}
@media screen and (max-width: 1023px) {
    .error-box {
        top: 50%;
        left: 50%;
        margin-left: -2.985rem;
        margin-top: -2.425rem;
        width: 5.97rem;
        height: 4.85rem;
        background: url(/themes/basic/images/mobile-error.png) center center;
        background-size: 100% 100%;
    }
    .error-box .error-text {
        position: absolute;
        top: 100%;
        left: 8%;
        font-size: 0.26rem;
    }
}